
#spotify, #youtube, #wikipedia, #news, #twitter, #events, #related-artist{
	height: 300px;
	width: 400px;
	overflow: auto;
}

body{
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #f2f2f7
}
/*search button*/
h5{
	color: #31526e;
}
/*button history*/
.btn{
	background-color: #31526e;
	box-shadow: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	min-width: 150px;
	margin-right: 25px;

}
/*header for second page*/
#header {
	padding:100px;
}

/*welcome page*/
#welcomeScreen{
	font: Tahoma, Geneva, sans-serif;
	color: #31526e;	
}
	
#logo{
	display: block;
	margin: auto;
	padding: 20px 20px 20px 20px;


}

img.align-center{
	display: block;
	margin: 0px auto;
	width: 100%
	height:auto;
}
/*artist name information*/
h3{
	font-family: Tahoma, Geneva, sans-serif;
	position:
}

input{
	color:#000000;
}
input.hover{
	background-color: #fff;
}
input.text{
	color:#000000;
}

#results{
	min-width: 90%;
}

#artist-name{
	size: 24px;
	color: #31526e;
	text-align: center;

}
#related-artist{
	margin-right: 50px;
	margin-left: 50px;

}
#cards{
	margin: 0px;
	text-align: center;	
}
.card-panel{
	margin-right: 50px;
	margin-left: 50px;
}
/*card titles*/
h4{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #b20303;
}


.container{
    background-color: white;
    text-align: center;
}

#footer{
	background-color: #31526e;
    text-align: center;
    padding:20px;
    color:white;
}

#search {
	text-align: center;
}
